---
- name: meet dependencies
  hosts: docker_server
  tasks:
  - name: install system dependencies
    dnf:
      name: 
        - libselinux-python3
      state: latest
      #https://github.com/ansible/ansible/issues/67083   habria que ver en centos 7 el python3-dnf
  - name: install pytest
    pip:
      name:
        - pytest
      executable: pip3

- name: check if container is already running
  hosts: docker_server
  vars_files: "{{ project_path }}/vars/vars.yml"
  tasks:
  - name: create build directory
    file: 
      path: /root/tomcat-deploy-files
      state: directory
      owner: root
      group: root
      mode: '0755'
  - name: copy test file
    copy:
      src: "{{ project_path }}/tests_files/check_tests.py"
      dest: /root/tomcat-deploy-files
      owner: root
      group: root
      mode: '0644'
    loop:
      - "check_tests.py"
      - "pytest.ini"
  - name: execute python script
    script: "{{ project_path }}/tests_files/run_tests.py /root/tomcat-deploy-files/check_tests.py {{ container_name }} {{ http_scheme }} {{ host }} {{ port }} {{ url_path }}" 
    register: pytest_execution
  - debug: var=pytest_execution



- name: build and deploy container
  hosts: docker_server
  vars_files: "{{ project_path }}/vars/vars.yml"
  tasks:
  - name: create build directory
    file: 
      path: /root/tomcat-deploy-files
      state: directory
      owner: root
      group: root
      mode: '0755'
  - name: copy Dockerfile
    copy:
      src: "{{ project_path }}/docker_files/{{ item }}"
      dest: /root/tomcat-deploy-files
      owner: root
      group: root
      mode: '0644'
    loop:
      - Dockerfile
      - start.sh

  - name: build container image
    docker_image:
      name: tomcatest
      tag: v1
      build:
        path: /root/tomcat-deploy-files
        pull: no
        nocache: yes
      source: build

  - name: Create container
    docker_container:
      name: testtomcat
      image: tomcatest:v1
      detach: yes
      cleanup: yes
      exposed_ports:
        - "8080"
      ports:
        - "8080:8080"

  - name: Get container info
    docker_container_info:
      name: testtomcat
    register: container_status

  - name: Does container exist
    debug:
      msg: "The container testtomcat {{ 'is' if container_status.exists else 'is not' }} running"

  - name: Does container exist
    debug:
      msg: "The container testtomcat is locally exposed to port 8080, proceeding to open port if needed"

- name: open firewall
  hosts: docker_server
  tasks:
  - name: check if firewalld is running
    command: "systemctl is-active firewalld"
    changed_when: no
    failed_when: no
    ignore_errors: yes
    register: firewalld_running

  - name: Is firewall running
    debug:
      msg: "Firewalld is {{ 'running' if 'active' in firewalld_running.stdout else 'not running' if 'active' not in firewalld_running.stdout }}"

  - name: Open firewall port 8080
    firewalld:
      state: enabled
      immediate: true
      permanent: true
      port: "8080/tcp"
    when: "'active' in firewalld_running"

#connection user possible improvement
#parametrizar todo lo posible
#controlar paquete python3-dnf en centos 7
